* {
  box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
    color: #2d3c49;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 1px;
}

/**** Header ****/
header {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    padding-right: 5px;
}

.container {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.udacity {
    width: 20%;
}

.header-id {
    width: 80%;
    text-align: right;
}

.header-id h1 {
    font-weight: 100;
    letter-spacing: 1px;
    padding-top: 30px;
    font-size: 1.5em;
}

.header-id h6 {
    font-size: 1em;
    font-weight: bold;
    padding: 0 0 15px 0;
  }


/***** Main Work *****/
.main_img {
    width: 100%;
    border-bottom: 2px solid #7d97ad;
    border-top: 2px solid #7d97ad;
}

/***** Featured Work ****/
.feature h2 {
    color: #7d97ad;
    text-transform: none;
}

.mtsite {
    width: 33.3%;
}

.huaca {
    width: 33.3%;
}

.unplugged {
    width: 33.3%;
}

.container h2 {
    color: #2d3c49;
    font-size: 1em;
    text-align: center;
}

.container p {
    text-transform: inherit;
    font-size: 0.5em;
    padding: 10px;
    text-align: center;
}

.container img{
    padding: 5px;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
}

/***** Footer ****/
.copyright {
    text-align: center;
    text-transform: none;
}

 .social {
    text-align: center;
    color: #000;
 }

 .social a {
    color: #2d3c49;
 }

 .social i {
    padding: 10px;
 }

@media screen and (min-width: 732px) {
/**** Header ****/
.header-id {
    text-align: right;
    padding-right: 0px;
}

.header-id h1 {
    font-weight: 100;
    padding-top: 30px;
    line-height: 1px;
    font-size: 24px;
}

.header-id h6 {
   font-size: 14px;
   padding-bottom: 5px;
   -webkit-margin-before: 1.5em;
   -webkit-margin-after: 1.5em;
}

/***** Main Work *****/

/**** Feature Section ***/
.feature {
    width: 100%;
}

.feature h2 {
    color: #7d97ad;
    text-transform: none;
    font-size: 1.8em;
}

.container img {
    max-width: 100%;
    padding-left: 5px;
}

.container h2 {
    color: #2d3c49;
    font-size: 1em;
    text-align: center;
}

.container p {
    text-align: center;
    text-transform: none;
    font-size: 0.75em;
    padding: 10px;
}


}
