* {
  box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
    color: #2d3c49;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 1px;
}

/**** Header ****/
header {
    width: 100%;
    padding-right: 5px;
}

.header-logo {
    float: left;
}

.udacity {
    height: 75px;
    width: 60px;
    display: inline-block;
}

.header-id {
    text-align: right;
}

.header-id h1 {
    font-weight: 100;
    letter-spacing: 1px;
    padding-top: 30px;
}

h6 {
    font-size: 1em;
    font-weight: bolder;
    padding: 0 0 15px 0;
    border-bottom: 2px solid #7d97ad;
  }

/***** Navigation *****/

/***** Main Work *****/
.main_img {
    width: 100%;
    border-bottom: 2px solid #7d97ad;
}

/***** Featured Work ****/
.feature h2 {
    color: #7d97ad;
    text-transform: none;
}

.container {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: stretch;
    align-items: stretch;
    flex-basis: 2 0 1;
    text-align: center;
}

.container img {
    width: 100%;
    max-height: 170px;
    padding: 15px 20px 0 0;
}

.container h2 {
    color: #2d3c49;
}

.container p {
    text-transform: inherit;
    font-size: 0.1em;
    padding: 10px;
}

.container .mtsite {
    padding-left: 0px;
}
.container .huaca {
    width: 100%;
}
.container .unplugged {
    max-height: 120px;
}
/***** Footer ****/


@media screen and (min-width: 413px) {
/**** Header ****/
.udacity {
    height: 60px;
    width: 45px;
    display: inline-block;
}

.header-id h1 {
    font-weight: 100;
    padding-top: 30px;
    line-height: 1px;
    font-size: 24px;
  }

h6 {
   font-size: 14px;
   padding-bottom: 10px;
   -webkit-margin-before: 1.5em;
   -webkit-margin-after: 1.5em;
}
/**** Feature Section ***/
.feature {
    width: 100%;
  }

.feature h2 {
    color: #7d97ad;
    text-transform: none;
    font-size: 20px;
  }

.container {
    text-align: center;
    width: 100%;
  }

.container img {
    max-width: 100%;
    max-height: 100%;
    padding-left: 15px;
  }

.container h2 {
    color: #2d3c49;
    font-size: 1em;
  }

.container p {
    text-transform: none;
    font-size: 0.75em;
    padding: 10px;
  }

.container .unplugged {
    float: left;
  }

}


@media screen and (min-width: 1024px){}
